/* *** Imports *** */
@import '~antd/dist/antd.css';
@import './themes/mixins';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-wrapper, .main-wrapper, .footer-wrapper, .ant-tabs {
  background-color: #282c34;
  color: #FFF
}

.main-wrapper, .footer-wrapper {
  //background-color: #282c34;
  width: 100%;
  height: 50px;
}

.card {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;

  &-sprite {
    width: 76px;
    max-width: 100%;
    height: 73px;
    //height: auto;
    border: 0;
    font-size: .75rem;
    color: #a3a3a3;

    &-fixed {
      display: inline-block;
      max-width: none;
      vertical-align: middle;
    }
  }
}

.ant-radio-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;

}
.radio { //ant-radio-group
  &-bug {
    background-color: #729f3f;
    color: #FFF;

    &.ant-radio-button-wrapper-checked {
      color: #729f3f !important;
      border-color: #729f3f !important;
      background: transparent !important;
    }
  }
  &-dark {
    background-color: #707070;
    color: #FFF;
  }
  &-dragon {
    background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #FFF;
  }
  &-electric {
    background-color: #eed535;
    color: #000;
  }
  &-fairy {
    background-color: #fdb9e9;
    color: #000;
  }
  &-fighting {
    background-color: #d56723;
    color: #FFF;
  }
  &-fire {
    background-color: #fd7d24;
    color: #FFF;
  }
  &-flying {
    background-image: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);;
    color: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);;
  }
  &-ghost {
    background-color: #7b62a3;
    color: #FFF;
  }
  &-grass {
    background-color: #9bcc50;
    color: #000;
  }
  &-ground {
    background-image: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: #000;
  }
  &-ice {
    background-color: #51c4e7;
    color: #000;
  }
  &-normal {
    background-color: #a4acaf;
    color: #000;
  }
  &-poison {
    background-color: #b97fc9;
    color: #FFF;
  }
  &-psychic {
    background-color: #f366b9;
    color: #FFF;
  }
  &-rock {
    background-color: #a38c21;
    color: #FFF;
  }
  &-steel {
    background-color: #9eb7b8;
    color: #000;
  }
  &-water {
    background-color: #4592c4;
    color: #FFF;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
