/* Imports */
@import '~antd/dist/antd.css';
@import './themes/mixins';

//* Override
.ant-tabs {
  background-color: #282c34;
  color: #FFF;

  &-nav &-tab-active {
    background: linear-gradient(90deg, rgba(74,165,224,1) 28%, rgba(115,240,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.ant-radio-group {
  padding: 10px 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: currentColor;
  }
}
//*/

/* Generals */
body {
  @include expand-content(100%);

  .app {
    &-content {
      @include expand-content(100%);
      text-align: center;
      font-family: Montserrat, 'Fira Code', sans-serif;
      background-color: #282c34;
      color: #FFF
    }
    &-wrapper {
      background-color: #282c34;
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: calc(10px + 2vmin);
      color: white;
    } 
  }

  #root {
    height: inherit;
  }

  /* Elements */
  // Grid
  .grid {
    &-onlyElement {
      @include expand-content(100%);
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      //* Override
      .ant-spin {
        font-size: 22px;

        .ant-spin-dot {
          font-size: 15px;
          @include expand-content(2em);
  
          .ant-spin-dot-item {
            @include expand-content(15px);
          }
        }
      }
      //*/
      &--text {
        color: #FFF;
      }        
    }
    &-wrapper {
      @include expand-content(90%);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      grid-gap: 5px;
    }
  }

  // Card
  .card {
    @include expand-content(200px, 230px);
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;

    &-sprite {
      width: 76px;
      max-width: 100%;
      height: 73px;
      border: 0;
      font-size: .75rem;
      color: #a3a3a3;

      &-fixed {
        display: inline-block;
        max-width: none;
        vertical-align: middle;
      }
    }
    &-number {
      align-self: center;
      justify-self: center;
    }
    &-description {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-row-gap: 5px;

      &--classification {
        grid-area: 1 / 1 / 2 / 2;
      }
      &--types {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  // Logo
  .pokelogo {
    height: 10vmin;
    pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .pokelogo {
      animation: pokeLogo-spin infinite 10s linear;
    }
  }
  @keyframes pokeLogo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .error {
    &-wrapper {
      @include expand-content(70%);
      background: linear-gradient(90deg, #6a2e2ec7, transparent);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr;
      align-items: center;
      justify-content: center;
    }
    &-header {
      grid-area: 1 / 1 / 2 / 2;
      color: #9a1e1e;
    }
    &-message {
      @include expand-content(100%, 70%);
      font-size: 1.5rem;
      grid-area: 2 / 1 / 3 / 2;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 3fr 1fr;
      align-items: center;
      justify-content: center;
    
      :first-child {
        grid-area: 1 / 1 / 2 / 2;
      }
      :nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }
      :nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
      }
    }
    &-img {
      grid-area: 1 / 2 / 4 / 3;
      @include expand-content(70%);
      align-self: center;
      justify-self: center;
    }
  }

  /* Header */
  .header-wrapper {
    font-size: 18px;
  }

  /* Main Content */
  .main {
    &-wrapper {
      margin: 2.5% 0;
      display: grid;
      grid-template-rows: 0.5fr 1fr 4.5fr;
      grid-template-columns: 5fr;
      align-items: center;

      &_header {
        grid-area: 1 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 2fr 3fr;
        //background: aqua;

        &--input {
          grid-area: 1 / 1 / 2 / 2;
          padding-top: 13px;

          .search-bar {
            will-change: auto;
            transition: width .55s ease-in-out;
            @include expand-content(50%, fit-content);
            
            &--open {
              @include expand-content(90%, fit-content);
              transition: width .55s ease-in-out;
            }
          }
        }
        &--drawer {
          grid-area: 1 / 2 / 3 / 3;
          
          .drawer {
            &-handle {              

              &--trigger {
                align-self: center;
                justify-self: center;
              }
            }
            &-radio {
              pointer-events: none;
              will-change: auto;
              //background: white;
              
              &--initial {
                @include expand-content(100%, 0);
                opacity: 0;
                transform-origin: 0;
              }
              &--fold {
                animation: drawer-close .55s ease-in-out forwards;
              }
              &--unfold{
                animation: drawer-open .55s ease-in-out forwards;
                pointer-events: auto;
              }

              @keyframes drawer-close {
                0% {
                  height: 90%;
                  transform: translateY(0);
                  opacity: 1; 
                }
                100% {
                  height: 0;
                  transform: translateY(-20px);
                  opacity: 0;
                }
              }
              @keyframes drawer-open {
                0% {
                  height: 0;
                  transform: translateY(-20px);
                  opacity: 0;
                }
                100% {
                  height: 90%;
                  transform: translateY(0);
                  opacity: 1; 
                }
              }
              
            }
          }
        }
      }
      &_results {
        @include expand-content(100%, 90%);
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        //background: aquamarine;
      }
    }
  }

  /* Radio */
  .radio {
    &-wrapper {
      @include expand-content(100%);
    }
    &--bug {
      background-color: #729f3f;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #729f3f !important;
        border-color: #729f3f !important;
        background: transparent !important;
      } //*/
    }
    &--dark {
      background-color: #707070;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #707070 !important;
        border-color: #707070 !important;
        background: transparent !important;
      } //*/
    }
    &--dragon {
      background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
      color: #FFF;
      //* Overrides
      &.ant-radio-button-wrapper-checked {
        color: #53a4cf !important;
        border-color: #f16e57 !important;
        background: transparent !important;
      
        &:not(.ant-radio-button-wrapper-disabled)::before {
          background-color: #f16e57;
        }
      }//*/
    }
    &--electric {
      background-color: #eed535;
      color: #000;
      //* Overrides
      &.ant-radio-button-wrapper-checked {
        color: #eed535 !important;
        border-color: #eed535 !important;
        background: transparent !important;
      }//*/
    }
    &--fairy {
      background-color: #fdb9e9;
      color: #000;
      //* Overrides
      &.ant-radio-button-wrapper-checked {
        color: #fdb9e9 !important;
        border-color: #fdb9e9 !important;
        background: transparent !important;
      }//*/
    }
    &--fighting {
      background-color: #d56723;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #d56723 !important;
        border-color: #d56723 !important;
        background: transparent !important;
      }//*/
    }
    &--fire {
      background-color: #fd7d24;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #fd7d24 !important;
        border-color: #fd7d24 !important;
        background: transparent !important;
      }//*/
    }
    &--flying {
      background-image: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);;
      color: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);;
      //* Overrides
      &.ant-radio-button-wrapper-checked {
        color: #3dc7ef !important;
        border-color: #bdb9b8 !important;
        background: transparent !important;
      
        &:not(.ant-radio-button-wrapper-disabled)::before {
          background-color: #bdb9b8;
        }
      }//*/
    }
    &--ghost {
      background-color: #7b62a3;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #7b62a3 !important;
        border-color: #7b62a3 !important;
        background: transparent !important;
      }//*/
    }
    &--grass {
      background-color: #9bcc50;
      color: #000;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #9bcc50 !important;
        border-color: #9bcc50 !important;
        background: transparent !important;
      }//*/
    }
    &--ground {
      background-image: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
      color: #000;
      //* Overrides
      &.ant-radio-button-wrapper-checked {
        color: #f7de3f !important;
        border-color: #ab9842 !important;
        background: transparent !important;
      
        &:not(.ant-radio-button-wrapper-disabled)::before {
          background-color: #ab9842;
        }
      }//*/
    }
    &--ice {
      background-color: #51c4e7;
      color: #000;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #51c4e7 !important;
        border-color: #51c4e7 !important;
        background: transparent !important;
      }//*/
    }
    &--normal {
      background-color: #a4acaf;
      color: #000;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #a4acaf !important;
        border-color: #a4acaf !important;
        background: transparent !important;
      }//*/
    }
    &--poison {
      background-color: #b97fc9;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #b97fc9 !important;
        border-color: #b97fc9 !important;
        background: transparent !important;
      }//*/
    }
    &--psychic {
      background-color: #f366b9;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #f366b9 !important;
        border-color: #f366b9 !important;
        background: transparent !important;
      }//*/
    }
    &--rock {
      background-color: #a38c21;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #a38c21 !important;
        border-color: #a38c21 !important;
        background: transparent !important;
      }//*/
    }
    &--steel {
      background-color: #9eb7b8;
      color: #000;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #9eb7b8 !important;
        border-color: #9eb7b8 !important;
        background: transparent !important;
      }//*/
    }
    &--water {
      background-color: #4592c4;
      color: #FFF;
      //* Override
      &.ant-radio-button-wrapper-checked {
        color: #4592c4 !important;
        border-color: #4592c4 !important;
        background: transparent !important;
      }//*/
    }
  }

  /* Footer */
  .footer {
    &-wrapper {
      @include expand-content(100%, 110px);
      display: grid;
      grid-template-columns: 4.5fr repeat(3, 0.5fr) 4.5fr;
      grid-template-rows: 100%;
      align-items: center;
      justify-items: center;
      padding-bottom: 5px;


      @media screen and (max-width: 1440px) {
        grid-template-columns: 4.5fr repeat(3, 1fr) 4.5fr;
      }
      @media screen and (max-width: 1024px) {
        grid-template-columns: 4fr repeat(3, 1fr) 4fr;
      }
      
      @media screen and (max-width: 768px) {
        grid-template-columns: 3fr repeat(3, 1fr) 3fr;
      }
    }
    &-empty {
      content: " ";
    }
    &-icon {
      grid-area: 1 / 3 / 2 / 4 ;
    }
    &-text {
      font-size: 22px;
      font-weight: 600;
      &_left {
        grid-area: 1 / 2 / 2 / 3 ;
      }
      &_right {
        grid-area: 1 / 4 / 2 / 5  ;
      }
    }
  }
}
